ACCOUNT_LOGIN_URL=https://example.com/login
ACCOUNT_LOGIN_PHONE=your_phone_number
ACCOUNT_LOGIN_PASSWORD=your_password
WECHAT_WEBHOOK_URL=https://qyapi.weixin.qq.com/cgi-bin/webhook/send?key=your_webhook_key
ENABLE_WECHAT_PUSH=false
MAX_ACCOUNTS=

